<section class="mt-5">
  <div class="card mb-3 border-0 shadow p-4">
    <div class="row g-0">
      <div class="col-md-6">
        <img
          src="{{ user?.image }}"
          class="img-fluid rounded-circle mx-auto d-block"
          alt="{{ user?.first_name }}"
        />
      </div>
      <div class="col-md-6 border-start border-dark">
        <div class="card-body m-5">
          <h2>
            <strong>{{ user?.first_name }}</strong>
          </h2>
          <h2>
            <strong>{{ user?.last_name }}</strong>
          </h2>

          <p class="card-text mt-5">
            <strong>Nombre de usuario: </strong>{{ user?.username }}
          </p>
          <p class="card-text">
            <strong>Email: </strong>
            <a [href]="'mailto:' + user?.email">{{ user?.email }}</a>
          </p>

          <div class="d-flex mt-5">
            <a class="btn btn-outline-secondary m-2" (click)="delete(user?._id)">Eliminar</a>
            <a class="btn btn-outline-secondary m-2" [routerLink]="['/dashboard', 'updateuser', user?._id]">Actualizar</a>
            <a class="btn btn-outline-secondary m-2" [routerLink]="['/dashboard', 'home']">Volver a Listado</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>